root{
    --main-blue: #2196F3;
    --main-black: #000000;
    --main-blackish: #212121;
    --main-grey: #757575;
    --main-background: #2F303A;
    --main-white: #ffffff;
}
body {
    font-family: "Roboto", sans-serif;
}

.logomain {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logoweb {
    color: var(--main-blue);
}

.logostudio {
    color: var(--main-black);
}

.mainmenu {
    text-decoration: none;
    font-weight: 500;
    color: var(--main-blackish);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.mainmenu:hover, .mainmenu:focus {
    color: var(--main-blue);
}

.maincontacts {
    color: var(--main-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.maincontacts:hover, .maincontacts:focus {
    color: var(--main-blue);
}

.mainpagebox {
    background-color: var(--main-background);    
}

.mainpagebox h1 {
    color: var(--main-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.mainpagebox button {
    color: var(--main-white);
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--main-blue);
}

h2,
h3 {
    color: var(--main-blackish);
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.titlebenefits {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.textbenefits {
    color: var(--main-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.teammember {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.teamposition {
    color: var(--main-grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

address {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.postaladdress {
    color: var(--main-white);
}

.otheraddress {
    color: rgba(255, 255, 255, 0.6);
}





